<h1>Welcome to PackMate!</h1>
<h4>“Never forget the essentials again.”</h4>

<p>Please <%= link_to 'Sign up', new_user_registration_path %> or <%= link_to 'Login', new_user_session_path %> to get started.</p>
